section {
    margin-top: 20px;
}

th, td {
    width: 20px;
    height: 20px;
    border: solid 1px gray;
}

label {
    cursor: pointer;
}

td{
    cursor: pointer;
    background-color: cornflowerblue;
}

.mineswipper{
    background-color: aquamarine;
}

.submarine{
    background-color:cyan;
}

.frigate{
    background-color:darkkhaki;
}

.battleship{
    background-color: darkcyan;
}

.air-crafter{
    background-color: azure;
}

.assert{
    background-color:coral;
}

.lose{
    background-color: aliceblue;
}

.container-tables{
    display: grid;
    grid-template-columns: repeat(3,auto);
}

